*{ margin:0px;padding:0px;}
li{list-style-type:none;}
ul{list-style-type:none;}
body{margin:0 auto;font:12px/150% Arial, Helvetica, sans-serif;color:#615F60;}
#SiteTop
{
	margin: 0 auto;
	width: 1003px;
	height: 112px;
	background: url(../images/main_01.gif) no-repeat;
}
#SiteMenu
{
	margin: 0 auto;
	width: 1003px;
	/*background-image: url(../images/main_26.gif); background-repeat: repeat-x; margin-bottom: 10px;
	padding-bottom: 5px;
	vertical-align: middle;
	padding-top: 8px;
	*/
	text-align: center;
	vertical-align: middle;
}
#NeiSiteBanner{margin:0px auto 20px auto;width:1004px;height:200px;background:url(../images/NeiBannerBg.gif) no-repeat;}
#SiteBody
{
	margin: 0 auto;
	width: 1004px;
	height: auto;
}
#BodyLeft
{
	float: left;
	margin: 0 auto;
	width: 217px;
	height: auto;
	background: none no-repeat;
}
#divcatname
{
	width: 217px;
	height: auto;
	background-color: #edefef;
	border-top-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	vertical-align: middle;
}
#contactus
{
	width: 217px;
	height:auto;
	background-color: #edefef;
	font-family: 宋体, 微软雅黑;
	color: black;
} 
#BodyRight
{
	float: right;
	margin: 0 auto;
	width: 777px;
	height: auto;
	border-top-style: solid;
	border-top-color: #4a7b95;
}
#BodyRightNews{margin:0 auto;width:777px;height:auto;PADDING-BOTTOM:2px;}
#BodyRightAdv{margin:0 auto;width:300px;height:220px;float:right; overflow:hidden;BORDER-RIGHT: darkgray 1px solid; BORDER-TOP: darkgray 1px solid; BORDER-LEFT: darkgray 1px solid; BORDER-BOTTOM: darkgray 1px solid}
#BodyRightNewsText{margin:0 auto;width:451px;height:220px;float:left;}
#BodyRightProd
{
	width: 777px;
	height: auto;
	padding-bottom: 10px;
	padding-top: 0px;
	border-top: #4a7b95 2px solid;
	margin-top: 0px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	padding-top: 0px;
}
#SiteBottom
{
	clear:both;
	margin: 0 auto;
	width: 1003px;
	height: auto;
	padding-top: 6px;
	border-top: 2px solid;
	
}
.HomeProdpic{border:1px solid #E7E7E7; width:150px;height:120px;text-align:center;}
.HomeProdpic img{padding:2px;width:145px;height:118px;border:0px;}
#BodyRightProd ul{float:left;list-style-type:none;margin-right:23px;margin-left:10px;margin-top:10px;}
#BodyRightProd li{text-align:center;font:"黑体",Verdana, Arial, Helvetica, sans-serif;font-size:13px;font-weight:bold;color:#2A2718;}
#BodyLinks{clear:both;margin:0 auto;width:1004px;height:74px; padding-top:10px;}
#Links{margin:0 auto;width:962px;height:53px; padding-top:10px; border:1px dotted #999999; background-color:#E8E8E8;text-align:center;}
#Links img{border:0px;}
.liline{line-height:0px; margin:0px; padding:0px;height:5px;}
.dlnewsimg{padding-right:5px;vertical-align:middle;}
#NeiTopTitle{text-align:right;border-bottom: gainsboro 1px solid;font-size:9pt;font-family: 微软雅黑;font-weight:bold;padding:15px 25px 5px 0px;}
#BodyRightimage
{
	border-right: gainsboro 1px solid;
	padding-right: 2px;
	border-top: gainsboro 1px solid;
	padding-left: 2px;
	padding-bottom: 2px;
	border-left: gainsboro 1px solid;
	width: 770px;
	padding-top: 2px;
	border-bottom: gainsboro 1px solid;
}
#BodyRightimage0
{
	width: 777px;
	height: auto;
}
#NeiBodyContent{padding:10px 25px 30px 10px;margin-left: 10px; margin-right: 10px;}
#SiteMenu img{border:0px;}
.SiteBottomImg{float:left;padding:0px 5px 0px 5px; width:120px; height:55px;filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}
#FeedBackHead{ text-align:center; padding:10px;}
#SiteBottom span img
{
	vertical-align:middle;
	padding-left: 10px;
}

.CatidIco{ vertical-align:bottom;}
.lipadd{padding-top:5px;}

#LinkLeftIco{float: left;width: 8px;cursor: pointer;height: 14px;background-image: url(../images/LinkLeftIco.gif);margin: 15px 0px 0px 25px;}
#LinkMiddleIco{float: left;overflow:hidden;width:840px;margin:0 auto;}
#LinkRightIco{float: right;width: 8px;cursor: pointer;height: 14px;background-image: url(../images/LinkRightIco.gif);margin: 15px 25px 0px 0px;}

#ListProdPic
{
	background: url(../images/ProdPicBg.gif) no-repeat;
	background-position: center;
	margin: 0 auto;
	width: 250px;
	height: 150px;	
	margin-bottom: 10px;
}
#ListProdPic img
{
	padding-top: 10px;
	padding-bottom: 10px;

}
#ListProdInfo
{
	width: 350px;
	height: auto;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}

a:link.top {color: #615F60;text-decoration: none;}
a:visited.top {color: #615F60;text-decoration: none;}
a:hover.top {color: #85ABEC;text-decoration:underline;}
a:active.top {color: #615F60;text-decoration: none;}

a:link {color: #615F60;text-decoration: none;}
a:visited {color: #615F60;text-decoration: none;}
a:hover {text-decoration:underline;}
a:active {color: #615F60;text-decoration: none;}

.TdBg{background-color:#5D7B9D;color:#FFFFFF;}
.ProdTable
{
	width: 99%;
	border-bottom: gainsboro 1px solid;
	margin-top: 5px;
	margin-bottom: 5px;
}
.ProdTd1
{
	text-align: center;
	width: 30%;
	background: #FFFFFF;
}
.ProdTd2{background:#FFFFFF;}
.ProdTd3{background:#FFFFFF; height:29px; text-align:right; padding-right:10px;}

h5{display:block;
color:#6c6b6b;padding:10px 10px;border-bottom:solid 1px #cdcdcd;font-size:12px;text-decoration:none;}

h6
{
	display: block;
	color: black;
	margin-bottom: 10px;
	border-bottom: solid 1px #cdcdcd;
	font-size: 12px;
	text-decoration: none;
	padding-left: 20px;
	vertical-align: middle;
}

span.pager { text-align:right; padding: 5px 10px 5px; width: 95%;}
span.pager a
{
    padding: 1px 3px 0 3px;
    margin: 3px;
    border-right: #cccccc 1px solid;
    border-top: #cccccc 1px solid;
    border-left: #cccccc 1px solid;
    border-bottom: #cccccc 1px solid;
    
    font-family: "宋体" , "Verdana" , "Arial";
    font-size: 12px;
}
span.pager a.current
{
    color: #ff0033;
}

.SearchSel {
	left: -2px;
	top: -2px;
	width: 120px;
	font-size:12px;
	color:#615F60;
	border:1px solid #DAD8D0;
	border-left-color:#3C3C3C;
	border-top-color:#3C3C3C;
	border-bottom-color:#DAD8D0;
	border-right-color:#DAD8D0;
}
.SearchBtn {
	text-decoration: none;
	background:url(../images/SearchBtnIco.gif);
	text-align: center;
	height: 21px;
	width: 49px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.SearchTxt{
	text-decoration: none;
	padding:2px;
	color:#636563;
	width:100px;
	height:14px;
	border: 1px solid;
	border-left-color:#3C3C3C;
	border-top-color:#3C3C3C;
	border-bottom-color:#DAD8D0;
	border-right-color:#DAD8D0;
}
.BlodTxt{
    font-size:13px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#1F1F1F;
	padding:0px 5px 0px 5px;
}

#NewsTitle {font-weight:bold;padding: 10px;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-top-color: #666666;border-right-color: #666666;border-bottom-color: #666666;border-left-color: #666666;color: #666666;}
#NewsParInfo {padding-right: 6px;text-align:right;}
#NewsInfo {color: #0000FF;padding-top:10px; padding-right: 6px;padding-bottom:6px;text-align:right;}
#fontZoom {line-height: 22px;}

.rollBox{width:920px;height:53px;overflow:hidden;margin:0px 21px 0px 21px;}
.rollBox .LeftBotton{height:42px;width:8px;background:url(../images/LinkLeftIco.gif) no-repeat;overflow:hidden;float:left;display:inline;margin:0px 20px 0px 0px;cursor:pointer;} 
.rollBox .RightBotton{height:42px;width:8px;background:url(../images/LinkRightIco.gif) no-repeat;overflow:hidden;float:right;display:inline;margin:0px 0px 0px 20px;cursor:pointer;} 
.rollBox .Cont{width:864px;overflow:hidden;float:left;} 
.rollBox .ScrCont{width:10000000px;}
.rollBox #List1,.rollBox #List2{float:left;}

.submenu{display: none;}
